{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  {% if validlink %}
    <div class="card col-12 col-md-8 col-lg-6">
      <div class="card-header">
        Задать новый пароль
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Сохранить пароль" %}
        </form>
      </div>
    </div>
  {% else %}
    <h1>Ссылка недействительна</h1>
    <p>
      Возможно, ссылка уже использована или срок её действия истёк.
      Запросите восстановление пароля ещё раз.
    </p>
    <p>
      <a href="{% url 'password_reset' %}">
        Запросить новую ссылку
      </a>
    </p>
  {% endif %}
{% endblock content %}
